<template>
    <div class="message-area" ref="message">
        <message-component
                v-for="message in messages"
                :key="message.id"
                :message="message">
        </message-component>
    </div>
</template>

<script>
    import Event from '../../event.js';
    import VuexStorage from '../../vuex/vuexStore.js';

    export default {
        data() {
            return {
                messages: []
            }
        },
        methods: {
            fetchMessages() {
                VuexStorage.dispatch('fetchMessages').then( () => {
                    this.messages = VuexStorage.getters.getMessages;
                });
            },
            deleteMessage(message) {
                let index = this.messages.findIndex(item => message.id === item.id);
                VuexStorage.commit('deleteMessage', index);
            },
            editMessage(message) {
                let index = this.messages.findIndex(item => message.id === item.id);
                this.messages[index].body = message.body;
            },
        },
        mounted() {
            Event.$on('added_message', (message) => {
                this.messages.unshift(message);
                if (message.selfMessage) {
                    this.$refs.message.scrollTop = 0;
                }
            });
            Event.$on('deleted_message', (message) => {
                this.deleteMessage(message);
            });
            Event.$on('show_room_messages', () => {
                this.fetchMessages();
            });
            Event.$on('remove', (message) => {
                VuexStorage.dispatch('deleteMessage', message).then( (message) => {

                } );
            });
            Event.$on('edited_message', (message) => {
                this.editMessage(message);
            });
        }
    }
</script>
<style>
    .message-area {
        height: 400px;
        max-height: 400px;
        overflow-y: scroll;
        padding: 15px;
        border-bottom: 1px solid #eee;
    }
</style>