<template>
    <transition name="slide-fade">
        <div class="message" :class="{ 'self': message.selfMessage }">
            <div class="message-body">
                <div class="row">
                    <div class="col-10">
                        <strong class="user">{{ message.user.name }}</strong>
                    </div>
                    <div class="col-2">
                        <edit-message-menu
                                v-bind:message="this.message"
                        >
                        </edit-message-menu>
                    </div>
                </div>
                <p class="body">{{ message.body }}</p>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        props: ['message']
    }
</script>

<style>
    .user {
        font-weight: 800;
    }
    .body {
        margin-bottom: 0;
        white-space: pre-wrap;
    }
    .message {
        border-bottom: 1px solid #000000;
        padding: 10px;
    }
    .self {
        background-color: #f0f0f0;
    }
</style>