<template>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-11">
                        <span v-if="isRoomNameEmpty">{{ roomName }}</span>
                        <span v-else></span>
                    </div>
                    <edit-context-menu v-if="showForm"></edit-context-menu>
                </div>
            </div>
            <div class="card-body">
                <chat-messages-component></chat-messages-component>
                <chat-form-component v-if="showForm"></chat-form-component>
            </div>
        </div>
    </div>
</template>

<script>
    import VuexStorage from '../vuex/vuexStore.js';
    import EditContextMenu from "./Context/EditContextMenu";

    export default {
        components: {EditContextMenu},
        computed: {
            roomName: function() {
                return VuexStorage.getters.getRoomName;
            },
            isRoomNameEmpty: function() {
                return VuexStorage.getters.getRoomName !== '';
            },
            showForm: function () {
                return VuexStorage.getters.getRoom !== null;
            }
        },
    }
</script>

<style scoped>

</style>