<template>
    <form class="form">
        <textarea
                id="body"
                cols="28"
                rows="5"
                class="form-input"
                v-bind:class="{active: edit}"
                @keydown="typing"
                v-model="body">
        </textarea>
        <span class="notice">
            Hit Enter to send message
        </span>
    </form>
</template>

<script>
    import VuexStorage from '../vuex/vuexStore.js';

    export default {
        data() {
            return {
                body: null,
                temporary_message: null,
                edit: false
            }
        },
        computed: {
        },
        mounted() {
            Event.$on('edit_message', (message) => {
                this.temporary_message = message;
                this.body = message.body;
                this.edit = true;
            });
        },
        methods: {
            typing(e) {
                if(e.keyCode === 13 && !e.shiftKey) {
                    e.preventDefault();
                    if(this.edit){
                        this.temporary_message.body = this.body;
                        VuexStorage.dispatch('editMessage', this.temporary_message).then( () => {
                            this.body = null;
                            this.edit = false;
                        });
                    }
                    else{
                        this.sendMessage();
                    }
                }
            },
            sendMessage() {
                if(!this.body || this.body.trim() === '') {
                    return
                }
                let messageObj = this.buildMessage();
                Event.$emit('added_message', messageObj);
                axios.post('/message', {
                    body: this.body.trim(),
                    room_id: VuexStorage.getters.getRoom.id,
                    method: 'create_message'
                }).catch(() => {
                    console.log('message send failed');
                });
                this.body = null;
            },
            buildMessage() {
                return {
                    id: Date.now(),
                    body: this.body,
                    selfMessage: true,
                    user: {
                        name: this.getUserName()
                    },
                    room_id: VuexStorage.getters.getRoom.id
                }
            },
            getUserName() {
                let name = '';

                if(!Laravel.user.name){
                    name = 'Anonymous';
                }
                else{
                    name = Laravel.user.name;
                }
                return name;
            }
        }
    }
</script>

<style>
    .form {
        padding: 8px;
    }
    .form-input {
        width: 100%;
        border: 1px solid #d3e0e9;
        padding: 5px 10px;
        outline: none;
    }
    .active{
        background-color: #d3e0e9;
    }
    .notice {
        color: #aaa
    }

</style>