<template>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">Users</div>
            <div class="card-body">
                <div class="users" v-for="user in users" :key="user.id">
                    <a href="#">{{ user.name }}</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                users: []
            }
        },
        mounted() {
            Event.$on('users.here', (users) => {
                this.users = users;
            })
            .$on('users.joined', (user) => {
                this.users.unshift(user);
            })
            .$on('users.leaving', (user) => {
                this.users = this.users.filter(u => {
                    return u.id !== user.id
                });
            });
        }
    }
</script>

<style scoped>
    .users {
        background-color: #fff;
        border-radius: 3px;
        border: 1px solid #1b1e21;
        margin: 4px 0 4px 0;
        padding: 5px;
        text-align: center;
    }
    .users:hover{
        background-color: #f5f5f5;
    }
    .card-body{
        padding: 0px;
    }
</style>