<template>
    <div class="row">
        <room-list-component></room-list-component>
        <chat-component></chat-component>
        <user-component></user-component>
    </div>
</template>

<script>
    export default {
        name: "whole-chat-component"
    }
</script>

<style scoped>

</style>