
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
/*************************Animations*************************/
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.fade-enter-active {
  transition: opacity .1s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
/*************************Animations*************************/

/*************************Context Menu*************************/
.context-menu-container{
  background-color: #ffd0fc;
  z-index: 9999;
  width: 150px;
  height: auto;
}
.room-menu-container{
  position: absolute;
  left: -400%;
  top: 60%;
}
.message-context-menu {
  position: absolute;
  left: -230%;
  top: 90%;
}

.dot-container{
  text-align: center;
}
.dot{
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 2px 0 2px 0
}

.context-menu-item{
  text-align: center;
  border: 1px solid #bbb;
}
.context-menu-item:hover{
  background-color: #cba7c8;
}
.context-menu{
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
}
/*************************Context Menu*************************/