<template>
    <div class="text-center">
        <button v-on:click="showModal" class="button">Create room</button>
        <modal name="create-room"
               :width="300"
               :height="300">
            <div class="card-header text-center">Create new room</div>
            <div class="card-body">
                <div class="form-group">
                    <label for="name">Room Name</label>
                    <input id="name" v-model="room_name_creation">
                </div>
                <button v-on:click="createRoom">Create room</button>
            </div>
        </modal>
    </div>
</template>

<script>
    import VuexStorage from '../../vuex/vuexStore.js';

    export default {
        name: "modal-component",
        data() {
            return {
                room_name_creation: '',
            }
        },
        methods: {
            showModal() {
                this.$modal.show('create-room');
            },
            hideModal() {
                this.$modal.hide('create-room');
            },
            createRoom() {
                if (this.room_name_creation.trim() !== '') {
                    axios.post('/room', {
                        name: this.room_name_creation
                    })
                        .then((response) => {
                            VuexStorage.dispatch('addRoom', response)
                                .then(() => {
                                    Event.$emit('room_created');
                                });
                        })
                        .catch(() => {
                            console.log('room creation failed');
                        });
                    this.hideModal();
                }

            }
        }
    }
</script>

<style scoped>

</style>