<template>
    <div class="text-center">
        <modal name="edit-room"
               :width="300"
               :height="300">
            <div class="card-header text-center">Edit room</div>
            <div class="card-body">
                <div class="form-group">
                    <label for="name">Room Name</label>
                    <input id="name" v-model="room.name">
                </div>
                <button @click="editRoom">Edit room</button>
            </div>
        </modal>
    </div>
</template>

<script>
    import VuexStorage from '../../vuex/vuexStore.js';

    export default {
        name: "edit-room-component",
        data() {
            return {
                room: VuexStorage.getters.getRoom
            }
        },
        mounted() {
            Event.$on('room_changed', (room) => {
                this.room = room;
            });
        },
        computed: {
            roomName() {
                if(this.isRoomExists){
                    return this.room.name;
                }
            },
            isRoomExists() {
                return this.room;
            }
        },
        methods: {
            hideModal() {
                this.$modal.hide('edit-room');
            },
            editRoom() {
                VuexStorage.dispatch('editRoom', this.room);
                this.hideModal();
            }
        }
    }
</script>

<style scoped>

</style>