<template>
    <div class="dot-container" v-if="this.message.selfMessage" @click="showMenu">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <transition name="fade" mode="out-in">
            <div class="context-menu-container message-context-menu" v-if="show_menu">
                <ul class="context-menu">
                    <li @click="editMessage" class="context-menu-item">Edit</li>
                    <li @click="deleteMessage" class="context-menu-item">Delete</li>
                </ul>
            </div>
        </transition>
    </div>
</template>

<script>
    export default {
        name: "edit-message-menu",
        props: ['message'],
        data() {
            return {
                show_menu: false,
            }
        },
        methods: {
            editMessage() {
                Event.$emit('edit_message', this.message);
            },
            deleteMessage() {
                Event.$emit('remove', this.message);
            },
            showMenu() {
                if(this.show_menu){
                    Event.$emit('another_menu_opened');
                }
                else{
                    Event.$emit('another_menu_opened');
                    this.show_menu = true;
                }
            },
        },
        mounted() {
            Event.$on('another_menu_opened', () => {
                this.show_menu = false;
            });
        },
    }

</script>

<style scoped>

</style>