<template>
    <div class="col-1">
        <div class="dot-container" @click="showMenu">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <transition name="fade">
                <div class="context-menu-container room-menu-container" v-if="show_menu">
                    <ul class="context-menu">
                        <li @click="renameRoom" class="context-menu-item">Rename</li>
                        <li @click="deleteRoom" class="context-menu-item">Delete</li>
                    </ul>
                </div>
            </transition>
        </div>
    <edit-room-component></edit-room-component>
    </div>
</template>

<script>
    import VuexStorage from '../../vuex/vuexStore.js';

    export default {
        name: "edit-context-menu",
        data() {
            return {
                show_menu: false,
            }
        },
        methods: {
            showModal() {
                this.$modal.show('edit-room');
            },
            renameRoom() {
                this.showModal();
            },
            deleteRoom() {
                this.showMenu();
                VuexStorage.dispatch('deleteRoom').then( () => {
                });
            },
            showMenu() {
                if(this.show_menu){
                    Event.$emit('another_menu_opened');
                }
                else{
                    Event.$emit('another_menu_opened');
                    this.show_menu = true;
                }
            },
        },
        mounted() {
            Event.$on('another_menu_opened', () => {
                this.show_menu = false;
            });
        },
    }
</script>

<style scoped>

</style>