<template>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                    <div class="text-center">Rooms</div>
            </div>
            <div class="card-header">
                <create-room-component></create-room-component>
            </div>
            <div class="card-body">
                <room-component
                        v-for="room in rooms"
                        :key="room.id"
                        :room="room">
                </room-component>
            </div>
        </div>
    </div>
</template>

<script>
    import RoomComponent from "./RoomComponent";
    import VuexStorage from '../../vuex/vuexStore.js';

    export default {
        components: {RoomComponent},
        data() {
            return {
                rooms: []
            }
        },
        mounted() {
            RoomConnector.connectToPresence('chat');
            Event.$on('room_created', () => {
                this.rooms = VuexStorage.getters.getRoomList;
            });
            this.getRoomList();
        },
        methods: {
            getRoomList() {
                VuexStorage.dispatch('fetchRooms').then(() => {
                    this.rooms = VuexStorage.getters.getRoomList;
                });
            },

        }
    }
</script>

<style scoped>
    .card-body{
        padding: 0px;
    }
</style>