<template>
    <transition name="slide-fade">
        <div class="room text-center" @click="triggerRoomChange">
            <a href="#">{{ this.room.name }}</a>
        </div>
    </transition>
</template>

<script>
    import VuexStorage from '../../vuex/vuexStore.js';
    import Event from '../../event.js';

    export default {
        props: ['room'],
        methods: {
            triggerRoomChange() {
                VuexStorage.dispatch('setRoom', this.room);
                Event.$emit('show_room_messages');
            }
        },
        mounted() {

        }
    }

</script>

<style scoped>
    .room{
        border: 1px solid #1b1e21;
        margin: 4px 0 4px 0;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        padding: 5px;
    }
    .room:hover{
        background-color: #f5f5f5;
    }
</style>